/config/ember-try.js
/config/release.js
/config/changelog.js

/dist
/tests
/tmp
/server

**/.gitkeep
.gitignore

/bower_components
.bowerrc
bower.json

.vscode
.vscodeignore
.editorconfig
/typings
jsconfig.json

.ember-cli
ember-cli-build.js
testem.js

.eslintrc.js
.watchmanconfig
.travis.yml
.codeclimate.yml

/coverage
coverage.json
lcov.dat
.coveralls.yml

/docs
yuidoc.json
