@import 'ember-paper';

.logo {
  height: 30px;
}

#title {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
}

h3 {
  margin: 15px 0 10px 0;
}

#buttons {
  flex: 1;
  text-align: center;
}

.md-button {
  margin: 0;
  font-size: 12px;
  line-height: 30px;
  min-height: 20px;
}

.sources, .docs {
  font-size: 14px;
}

.docs {
  margin-right: 15px;
}

md-content {
  padding: 10px 20px;
}

md-list-item, md-list-item .md-list-item-inner {
  min-height: 25px;
}

md-list-item .md-no-style {
  padding: 0 8px;
}

.comics {
  height: 150px;
}

.contains-true {
  color: green;
}

.contains-false {
  color: red;
}

.samples {
  display: table;
}

.sample {
  display: table-cell;
  width: 24%;
}

.results {
  height: 225px;

  small {
    padding-top: 10px;
    display: inline-block;
  }
}

pre.snippet {
  margin-right: 10px;
  height: 150px;
}

.hljs {
  color: #f8f8f8;
  background: #333;
  border-radius: 4px;
}

.hljs-variable {
  color: white;
}

